@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  /* Typography */
  --regular-font: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  --heading-font: "Lato", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    monospace, sans-serif;

  /* h5 font size paragraph */
  /* start of for small mobile  (576px and down) */
  /* start of for mobile  (576px and up) */

  /* start of for mobile */

  --font-size-h1: 2.488rem;

  --font-size-h2: 2.074rem;

  --font-size-h3: 1.728rem;

  --font-size-h4: 1.44rem;

  --font-size-h5: 1.2rem;

  /* major third 1.200 */
  /* end of for mobile */

  --font-size-h6: 1rem;

  --box-shadow-1: 2px 4px 6px #000;

  --transition-8: all 0.8s ease-in-out;
  /* colors */
  --primary-color: #b8860b;
  --secondary-color: #61baad;
  --heading-color: #4b8178;
  --background-color: #c3fcf2;
  --btn-color: #60bf26;

  --btn-gradient: linear-gradient(220.55deg, #ffd439 0%, #ff7a00 100%);
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--regular-font);
  font-size: 100%;
  /* font size :16px */
}

html {
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

/* mobile */

h1 {
  font-size: var(--font-size-h1);
}
h2 {
  font-size: var(--font-size-h2);
}
h3 {
  font-size: var(--font-size-h3);
}
h4 {
  font-size: var(--font-size-h4);
}
h5 {
  font-size: var(--font-size-h5);
}
h6 {
  font-size: var(--font-size-h6);
}
p {
  font-size: var(--font-size-h5);
}

.btn {
  display: block;
  padding: 0.5rem 1rem;
  font-size: var(--font-size-h5);
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: bold;
  color: var(--tertiary-color);
  margin: 0 auto;
  margin-bottom: 1rem;
  border: none;
  border: 1px solid var(--primary-color);
  transition: var(--transition-8);
  cursor: pointer;
  border-radius: 0.5rem;
}

.btn:hover {
  background-color: var(--secondary-color);
  color: black;
  transform: translateY(5px);
}

.defaultImage {
  position: relative;
}

.backgroundImage {
  position: absolute;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.bgImage {
  width: 100%;
  max-width: 100%;
}

.main__loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: whitesmoke;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.loading {
  color: var(--secondary-color);
  letter-spacing: 1px;
  text-transform: capitalize;
  font-size: var(--font-size-h1);
  text-align: center;
}

// header
.header {
  box-shadow: var(--box-shadow-1);
  height: 4rem;
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
}

// logo

.logo {
  display: flex;
  gap: 1rem;
}

.logo__icon {
  width: 2rem;
  height: 2rem;
}

.error {
  color: red;
  font-weight: bold;
  background-color: #000;
  display: block;
  width: 100%;
  font-size: var(--font-size-h3);
  text-align: center;
}

.logo__heading {
  font-size: var(--font-size-h4);
  color: var(--secondary-color);
  text-shadow: 1px 1px 2px var(--secondary-color);
  filter: drop-shadow(1px 0 1px #000);
  letter-spacing: 1px;
}

.nav__links {
  display: flex;
  gap: 1rem;
  align-items: center;
  & li a {
    font-size: var(--font-size-h5);
    font-weight: bold;
  }
}

.active {
  color: var(--secondary-color);
  text-shadow: 1px 2px 2px #000;
  letter-spacing: 1px;
  transition: var(--transition-8);
}

.link {
  transition: var(--transition-8);
  letter-spacing: 1px;
  color: var(--primary-color);
}

// workout
.workout {
  margin: 0 1rem;
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  &__none {
    font-size: var(--font-size-h4);
    text-align: center;
    padding: 1rem;
    text-transform: capitalize;
    color: var(--primary-color);
  }

  &__card {
    box-shadow: var(--box-shadow-1);
    padding: 1rem;
    position: relative;
  }

  &__title {
    text-transform: capitalize;
    letter-spacing: 1px;
    color: var(--secondary-color);
    padding: 0.2rem;
  }
  &__load {
    padding: 0.2rem;
    color: gray;
  }
  &__reps {
    padding: 0.2rem;
    color: black;
  }
  &__error {
    color: red;
    font-size: var(--font-size-h6);
    margin-top: 2rem;
    opacity: 0.7;
  }
}

// form

.form {
  display: grid;
  justify-content: start;
  grid-template-columns: 1fr;

  padding-left: 1rem;
  &__section {
    padding: 1rem;
  }

  &__heading {
    font-size: var(--font-size-h4);
    padding: 1rem;
    color: var(--secondary-color);
    letter-spacing: 1px;
    text-decoration: underline;
  }

  &__control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    & label {
      font-size: var(--font-size-h5);
      font-weight: bold;
      color: var(--btn-color);
      letter-spacing: 1px;
    }
  }

  &__input {
    display: block;
    padding: 0.4rem 0.5rem;
    border: 2px solid rgba(128, 128, 128, 0.8);
    border-radius: 0.2rem;
    max-width: 250px;
    -moz-appearance: textfield;
    &:hover {
      border-color: var(--primary-color);
      outline: var(--primary-color);
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:focus {
      border: 2px solid var(--primary-color);
      border-color: var(--primary-color);
      outline: var(--primary-color);
    }
  }
}

.btn--submit,
.btn--signup,
.btn--login {
  margin: 0;
  max-width: 10rem;
  background-color: var(--secondary-color);
  color: white;
  font-size: var(--font-size-h5);
  border: none;
  letter-spacing: 0;
  // box-shadow: var(--box-shadow-1);
  &:hover {
    background-color: #000;
    color: white;
    transform: translateY(5px);
  }
}

.btn--delete {
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  float: right;

  &:hover {
    background-color: transparent;
    color: var(--secondary-color);
  }
}

// login

.main__login,
.main__signup {
  background-color: rgba(128, 128, 128, 0.137);
  min-height: 100vh;

  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  align-items: center;
}

.login,
.signup {
  max-width: 300px;
  width: 100%;
  background-color: whitesmoke;
  box-shadow: var(--box-shadow-1);
  padding: 1rem;
  border-radius: 1rem;

  &__heading {
    color: var(--secondary-color);
    padding-bottom: 0.2rem;
    font-size: var(--font-size-h3);
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__input {
    margin-top: 0.2rem;
    display: block;
    padding: 0.4rem 0.5rem;
    border: 2px solid rgba(128, 128, 128, 0.8);
    border-radius: 0.2rem;
    max-width: 250px;
    &:hover {
      border-color: var(--primary-color);
      outline: var(--primary-color);
    }

    &:focus {
      border: 2px solid var(--primary-color);
      border-color: var(--primary-color);
      outline: var(--primary-color);
    }
  }
}

// username

.username {
  font-size: var(--font-size-h2);
  color: var(--primary-color);
  text-transform: capitalize;
  font-weight: bold;
  background-color: #000;
  padding: 0.5rem;
  border-radius: 50%;
}
.logout {
  margin-top: 1rem;
}

.btn--logout {
  font-size: var(--font-size-h6);
}

.forgetPassword {
  margin-top: 1rem;
  text-transform: capitalize;
  font-size: var(--font-size-h6);
  font-weight: bold;
  color: var(--primary-color);
}

/* about me page */
.about {
  background-color: whitesmoke;
  &__name {
    text-align: center;
    padding: 2rem;
    text-transform: capitalize;
    color: var(--secondary-color);
  }
  &__heading {
    font-size: var(--font-size-h4);
    text-align: center;
  }
}

.default__title {
  text-align: left;
  padding: 3rem 0;
  padding-left: 4rem;
  color: var(--primary-color);
  font-size: var(--font-size-h3);
  text-shadow: 2px 2px 1px var(--btn-color);
}

.btn__group {
  display: flex;
  justify-content: start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  padding-left: 4rem;
  .btn {
    text-align: center;
    width: 180px;
    transition: var(--transition-8);
    margin: 0;
    background-color: var(--heading-color);
    &:hover {
      color: white;
    }
  }
}

@media (min-width: 600px) {
  .about__login {
    max-width: 500px;
  }

  .about__control {
    input {
      width: 100%;
      max-width: 400px;
    }
  }
}
